<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/mapache.jpeg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                pperez14
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">

                        <a href="https://gitlab.com/pperez14" target="_blank">
                            <i class="fab fa-gitlab"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="mailto:p.perez14@ufromail.cl">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#D9D9D9"><path d="m634.67-80-164-164L518-291.33l116.67 116.66 238-238L920-365.33 634.67-80Zm-156-444.67L808-733.33H149.33l329.34 208.66Zm0 66.67-332-211.33v434.66H386L452.67-168h-306q-27 0-46.84-19.83Q80-207.67 80-234.67v-498.66q0-27 19.83-46.84Q119.67-800 146.67-800h664.66q27 0 46.84 19.83Q878-760.33 878-733.33v220.66L811.33-446v-223.33L478.67-458Zm.66 6Zm-.66-72.67Zm.66 66.67Z"/></svg>
                        </a>
                    </div>
                </div>
                
            </div>

            <p class="contact-paragraph">
                Interested in providing solutions to new problems and learning many things throughout each project.
                <span class="default-highlight">
                Always eager to help in any way I can</span>.
            </p>
            <button>
            <a href="../../assets/curriculum_Pablo_Perez.pdf" download="CV_Pablo_Perez">
                Download CV
            </a>
            </button>
        </div>
    </div>
</div>
