<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Welcome!</h1>
        <h2 class="home-author">Pablo Pérez,<span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          My name is Pablo Pérez, student of civil computer engineering at the Universidad de la Frontera, Temuco, Chile. I like software development and I like to learn new things while advancing. I am starting out in the world of Unity and I would like to continue learning and developing new projects, whether creating 3D games or simulators.
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  